    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a href="{:U('admin/main')}"><span class="am-icon-home"></span> 首页</a></li>
        <li class="sms-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav-sms'}"><span class="am-icon-file"></span> SMS短信服务<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-sms">
            <li><a href="{:U('admin/doc/sms')}"><span class="am-icon-puzzle-piece"></span> 接口文档</a></li>
            <li><a href="{:U('admin/test/sms')}" class="am-cf"><span class="am-icon-check"></span> 接口测试<span class=" am-fr am-margin-right admin-icon-yellow"></span></a></li>
            <li><a href="{:U('admin/debuger/sms')}"><span class="am-icon-bug"></span> 接口调试</a></li>
            <li><a href=""><span class="am-icon-calendar"></span> 访问日志</a></li>
            <!-- <li><a href="admin-gallery.html"><span class="am-icon-th"></span> 相册页面<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li> -->
          </ul>
        </li>
        <li class="ucenter-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav-ucenter'}"><span class="am-icon-file"></span> 用户中心服务<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav-ucenter">
            <li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 接口文档</a></li>
            <li><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span> 接口测试<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
            <li><a href="admin-404.html"><span class="am-icon-bug"></span> 接口调试</a></li>
            <!-- <li><a href="admin-gallery.html"><span class="am-icon-th"></span> 相册页面<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li> -->
            <li><a href="admin-log.html"><span class="am-icon-calendar"></span> 访问日志</a></li>
          </ul>
        </li>
        <li class="weixin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav-weixin'}"><span class="am-icon-file"></span> 微信消息服务<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav-weixin">
            <li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 接口文档</a></li>
            <li><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span> 接口测试<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
            <li><a href="admin-404.html"><span class="am-icon-bug"></span> 接口调试</a></li>
            <!-- <li><a href="admin-gallery.html"><span class="am-icon-th"></span> 相册页面<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li> -->
            <li><a href="admin-log.html"><span class="am-icon-calendar"></span> 访问日志</a></li>
          </ul>
        </li>
        <li class="sys-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav-sys'}"><span class="am-icon-file"></span> 任务服务管理<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav-sys">
            <li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 任务监控台</a></li>
            <li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 数据抓取</a></li>
            <li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 邮寄推送</a></li>
            <li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 报表统计</a></li>
          </ul>
        </li>
        <li class="sys-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav-sys'}"><span class="am-icon-file"></span> 系统管理<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav-sys">
            <li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 用户管理</a></li>
          </ul>
        </li>
        
      </ul>

    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">